<section id="plays">
  <h1>Előadások listája</h1>
  <article *ngFor="let play of plays">
    <h3>{{play.name}}</h3>
    <span>Játékidő: {{play.length}} perc</span>
    <p>{{play.logline}}</p>
    <div>
      A héten ekkor játszák:
      <ul>
        <ng-container *ngFor="let schedule of play.schedules">
          <li *ngIf="isOnThisWeek(schedule.start)">
            <a href="#" (click)="$event.preventDefault(); scheduleClicked(schedule)">{{getDisplayDate(schedule.start)}}</a>
          </li>
        </ng-container>
      </ul>
    </div>
  </article>
</section>

<app-ticket-reservation-overlay *ngIf="showTicketOverlay" [schedule]="overlaySchedule" (closeWindow)="showTicketOverlay = false"></app-ticket-reservation-overlay>
