<section id="navbar">
  <section id="navbar-follower">
    <div>
      <img src="assets/img/theatre.png" alt="LOGO">
      <nav>
        <ul>
          <li><a (click)="navLinkClicked($event, this)" href="#home"><i class="fas fa-home"></i></a></li>
          <li><a (click)="navLinkClicked($event, this)" href="#plays">Előadások</a></li>
          <li><a (click)="navLinkClicked($event, this)" href="#tickets">Jegyek</a></li>
          <li><a (click)="navLinkClicked($event, this)" href="#schedule">Műsor</a></li>
          <li *ngIf="!theaterService.loggedIn"><a (click)="navLinkClicked($event, this)" href="#login">Belépés</a></li>
          <li *ngIf="theaterService.admin"><a (click)="navLinkClicked($event, this)" href="#admin">Admin</a></li>
        </ul>
      </nav>
    </div>
  </section>
</section>
