<ngb-carousel class="carousel">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/img/carousel/1.png" alt="">
    </div>
    <div class="carousel-caption">
      <h3>Új vörös függönyt kapott a színház!</h3>
      <p>Most már bikamódra felidegelve élvezhetik nezőink a legújabb előadásainkat. Minden harmadik ember, aki lefejeli Miskát, ajándékot kap. #addMegATartozasodMiska</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/img/carousel/2.png" alt="">
    </div>
    <div class="carousel-caption">
      <h3>Felhajtható ülések – mint a moziban!</h3>
      <p>Csak nem egy vásznat néznek a kedves vendégeink, hanem igazi embereket! Élvezze a zavartalan kisurranást, ha előadás közben magára jön a szükség!</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/img/carousel/3.png" alt="">
    </div>
    <div class="carousel-caption">
      <h3>Éjjeli előadások</h3>
      <p>Előzenés, kései előadásaink megérkeztek! Ha nem tud aludni, mi majd segítünk szirén hangjainkkal és furkósbotjainkkal.</p>
    </div>
  </ng-template>
</ngb-carousel>

<section id="home-calendar" class="calendar">
  <nav>
    <a href="#play" [class.active]="calendarPage == 'calendar-play'" (click)="calendarPage = 'calendar-play'">Előadások</a>
    <a href="#schedule" [class.active]="calendarPage == 'calendar-schedule'" (click)="calendarPage = 'calendar-schedule'">Mai műsor</a>
  </nav>
  <div class="calendar-play" *ngIf="this.calendarPage === 'calendar-play'">
    <app-calendar-play></app-calendar-play>
  </div>
  <div class="calendar-schedule" *ngIf="this.calendarPage === 'calendar-schedule'">
    <app-calendar-schedule></app-calendar-schedule>
  </div>
</section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
