<section id="ticket" class="calendar-table">
  <h1>Jegyek</h1>
  <table>
    <thead>
    <tr>
      <th>Jegytípus</th>
      <th>Bruttó ár</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <h3>Nézőtéri kedvezményes</h3>
        <span>Igazolvány szükséges: diák, nyugdíjas, fogyatékkal élő</span>
      </td>
      <td>1000 Ft</td>
    </tr>
    <tr>
      <td>
        <h3>Nézőtéri teljes árú</h3>
        <span>Teljes árú jegy a nézőtérre</span>
      </td>
      <td>1500 Ft</td>
    </tr>
    <tr>
      <td>
        <h3>Páholy kedvezményes</h3>
        <span>Igazolvány szükséges: diák, nyugdíjas, fogyatékkal élő</span>
      </td>
      <td>2000 Ft</td>
    </tr>
    <tr>
      <td>
        <h3>Páholy teljes árú</h3>
        <span>Teljes árú jegy a páholyba</span>
      </td>
      <td>3000 Ft</td>
    </tr>
    </tbody>
  </table>
</section>
